<form method="post">
    <h2>Adicionar Venda</h2>
    {% csrf_token %}
    <div id="itens">
        <div>
            <label for="produto">Produto:</label>
            <select name="itens">
                {% for produto in produtos %}
                    <option value="{{ produto.id }}">{{ produto.nome }}</option>
                {% endfor %}
            </select>
            <label for="quantidade">Quantidade:</label>
            <input type="number" name="quantidades" min="1">
        </div>
    </div>
    <button type="button" onclick="adicionarItem()">Adicionar Item</button>
    <button type="submit">Finalizar Venda</button>
</form>

<script>
function adicionarItem() {
    var novoItem = document.querySelector('#itens div').cloneNode(true);
    document.getElementById('itens').appendChild(novoItem);
}
</script>
