{% load static %}
<!DOCTYPE html>
<html>
<head>
    <ul>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
    </ul>
    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_feedback.css' %}">  
</head>
<body>
    <div class="feedback-form-container">
        <h1>Deixe seu Feedback</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
