{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Página inicial</title>
    {% csrf_token %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style_inicio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_sidenav.css' %}">
    <style>
        .logo {
            color: #333; /* Cor do texto */
            font-size: 1rem; /* Tamanho do texto */
            margin-right: auto; /* Alinha à direita */
            font-size: 25px;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">×</a>
        <a href="{% url 'adicionar_grupo' %}">Adicionar grupos</a> 
        <a href="{% url 'adicionar_subgrupo' %}">Subgrupos</a>
        <a href="{% url 'rede_social' %}">Rede Social</a>
        <a href="{% url 'adicionar_venda' %}">Vendas</a>
    </div>

    <div class="page-container">
        <nav>
            <div class="logo">
                Olá, {{ user.username }}
            </div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="{% url 'listar_produtos' %}">Catálogos</a></li>
                <li><a href="{% url 'cadastro_fabricante' %}">Fabricante</a></li>
                <li><a href="{% url 'graficos' %}">Gráficos</a></li>    
                <li><a href="{% url 'login' %}">Sair</a></li>
                <li><button class="openbtn" onclick="toggleNav()">☰</button></li>
            </ul>
        </nav>

        <section class="banner">
            <div class="texto">
            </div>
        </section>
        <footer>
            <p>© 2024 Eric Y Ikeda. Todos os direitos reservados.</p>
        </footer>
    </div>

    <script>
        function toggleNav() {
            var sidenav = document.getElementById("mySidenav");
            var pageContainer = document.querySelector(".page-container");
            if (sidenav.style.right === "0px") {
                sidenav.style.right = "-231px";
                pageContainer.classList.remove("nav-open");
            } else {
                sidenav.style.right = "0";
                pageContainer.classList.add("nav-open");
            }
        }
    </script>
</body>
</html>

