{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Produtos</title>
    {% csrf_token %}
</head>
<body>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
    </li>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for produto in produtos %}
            <li>{{ produto.nome }} - {{ produto.preco_venda }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'adicionar_produto' %}">Adicionar Produto</a>
</body>
</html>
