{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Detalhes da Venda</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_venda_detalhe.css' %}">
</head>
<body>
    <div class="container">
        <h1>Detalhes da Venda #{{ venda.id }}</h1>

        <div class="product-info">
            <h2>Itens da Venda</h2>
            <ul>
                {% for item in venda.itens.all %}
                <li>
                    <strong>Produto:</strong> {{ item.produto.nome }}<br>
                    <strong>Fabricante:</strong> {{ item.produto.fabricante }}<br>
                    <strong>Grupo:</strong> {{ item.produto.grupo }}<br>
                    <strong>SubGrupo:</strong> {{ item.produto.subgrupo }}<br>
                    <strong>Preço de Venda:</strong> R$ {{ item.produto.preco_venda }}<br>
                    <strong>Quantidade:</strong> {{ item.quantidade }} unidades<br>
                    <strong>Data e Hora da Venda:</strong> {{ venda.data_hora_venda | date:"d/m/Y H:i" }}
                </li>
                {% endfor %}
            </ul>
            <ul class="button-list">
                <li><a href="{% url 'inicio' %}" class="btn-voltar">Voltar ao Início</a></li>
                <li><a href="#" class="btn-imprimir" onclick="window.print()">Imprimir Recibo</a></li>
            </ul>
            
        </div>
    </div>
</body>
</html>
