/* css para o formulário de feedback */
.feedback-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Centraliza vertical e horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feedback-form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.feedback-form-container form {
    display: flex;
    flex-direction: column;
}

.feedback-form-container input[type="text"],
.feedback-form-container input[type="email"],
.feedback-form-container textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.feedback-form-container textarea {
    height: 150px;
}

.feedback-form-container button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.feedback-form-container button:hover {
    background-color: #0056b3;
}

.thanks-container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

