/* style_venda_detalhe.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Alterado para min-height para garantir que o corpo da página tenha pelo menos a altura da janela de visualização */
}

.container {
    width: 800px;
    margin: 20px; /* Adicionado um espaçamento externo para separar o container da borda da janela */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.product-info {
    margin-top: 20px;
}

.product-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

ul li:last-child {
    border-bottom: none;
}

strong {
    font-weight: bold;
}

.btn-voltar {
    display: block;
    width: 200px;
    margin: 20px auto; /* Centralizado horizontalmente com margem superior e inferior de 20px */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-voltar:hover {
    background-color: #45a049;
}
