* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #189290;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    color: #333;
}

form {
    width: 50%;
    margin: 0 auto;
}

form input[type="text"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 20px 0;
    background-color: #189290;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #145357;
}
